<div class="container">
    <div class="row">
        <h2 class="title-border">
            <span>News<span class="line"></span></span>
        </h2>
    </div>
</div>
<div class="l-container home-page">
    <div class="photos">
        <div class="photos__column">
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 150%;"
                    data-photo-modal-medium-id="7540071"
                    data-meta-title="Brown and White Concrete Building Under White Sky · Free Stock Photo"
                    data-aspect-ratio="0.6666666666666666">
                    <a title="Brown and White Concrete Building Under White Sky" class="js-photo-link photo-item__link"
                        style="background: rgb(179, 182, 179);"
                        href="/photo/brown-and-white-concrete-building-under-white-sky-7540071/"><img
                            class="photo-item__img" alt="Brown and White Concrete Building Under White Sky"
                            src="https://images.pexels.com/photos/7540071/pexels-photo-7540071.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/7540071/pexels-photo-7540071.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/7540071/pexels-photo-7540071.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/7540071/pexels-photo-7540071.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/7540071/pexels-photo-7540071.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/7540071/pexels-photo-7540071.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/7540071/pexels-photo-7540071.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/7540071/pexels-photo-7540071.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="5472" data-image-width="3648">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 133.2%;"
                    data-photo-modal-medium-id="4991110" data-meta-title="Brown Leaf Under Blue Sky · Free Stock Photo"
                    data-aspect-ratio="0.7507480550568522">
                    <a title="Brown Leaf Under Blue Sky" class="js-photo-link photo-item__link"
                        style="background: rgb(151, 154, 150);" href="/photo/brown-leaf-under-blue-sky-4991110/"><img
                            class="photo-item__img" alt="Brown Leaf Under Blue Sky"
                            src="https://images.pexels.com/photos/4991110/pexels-photo-4991110.png?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/4991110/pexels-photo-4991110.png?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/4991110/pexels-photo-4991110.png?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/4991110/pexels-photo-4991110.png?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/4991110/pexels-photo-4991110.png?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/4991110/pexels-photo-4991110.png?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/4991110/pexels-photo-4991110.png?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/4991110/pexels-photo-4991110.png?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="3342" data-image-width="2509">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 133.31%;"
                    data-photo-modal-medium-id="1842866"
                    data-meta-title="Gone Fishing Catch You Later Signage · Free Stock Photo"
                    data-aspect-ratio="0.7500979240109675">
                    <a title="Gone Fishing Catch You Later Signage" class="js-photo-link photo-item__link"
                        style="background: rgb(106, 114, 116);"
                        href="/photo/gone-fishing-catch-you-later-signage-1842866/"><img class="photo-item__img"
                            alt="Gone Fishing Catch You Later Signage"
                            src="https://images.pexels.com/photos/1842866/pexels-photo-1842866.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/1842866/pexels-photo-1842866.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/1842866/pexels-photo-1842866.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/1842866/pexels-photo-1842866.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/1842866/pexels-photo-1842866.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/1842866/pexels-photo-1842866.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/1842866/pexels-photo-1842866.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/1842866/pexels-photo-1842866.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="5106" data-image-width="3830">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 137.35%;"
                    data-photo-modal-medium-id="2205690"
                    data-meta-title="Photo of Man Holding Fish Bowl · Free Stock Photo"
                    data-aspect-ratio="0.7280253655099524">
                    <a title="Photo of Man Holding Fish Bowl" class="js-photo-link photo-item__link"
                        style="background: rgb(74, 107, 104);"
                        href="/photo/photo-of-man-holding-fish-bowl-2205690/"><img class="photo-item__img"
                            alt="Photo of Man Holding Fish Bowl"
                            src="https://images.pexels.com/photos/2205690/pexels-photo-2205690.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/2205690/pexels-photo-2205690.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/2205690/pexels-photo-2205690.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/2205690/pexels-photo-2205690.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/2205690/pexels-photo-2205690.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/2205690/pexels-photo-2205690.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/2205690/pexels-photo-2205690.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/2205690/pexels-photo-2205690.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="5677" data-image-width="4133">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 150%;"
                    data-photo-modal-medium-id="4808835" data-meta-title="Text · Free Stock Photo"
                    data-aspect-ratio="0.6666666666666666">
                    <a title="Text" class="js-photo-link photo-item__link" style="background: rgb(67, 26, 59);"
                        href="/photo/text-4808835/"><img class="photo-item__img" alt="Text"
                            src="https://images.pexels.com/photos/4808835/pexels-photo-4808835.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/4808835/pexels-photo-4808835.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/4808835/pexels-photo-4808835.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/4808835/pexels-photo-4808835.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/4808835/pexels-photo-4808835.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/4808835/pexels-photo-4808835.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/4808835/pexels-photo-4808835.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/4808835/pexels-photo-4808835.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="6000" data-image-width="4000">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 150%;"
                    data-photo-modal-medium-id="7346633" data-meta-title="Pink Roses in a Snow Globe · Free Stock Photo"
                    data-aspect-ratio="0.6666666666666666">
                    <a title="Pink Roses in a Snow Globe" class="js-photo-link photo-item__link"
                        style="background: rgb(213, 120, 141);" href="/photo/pink-roses-in-a-snow-globe-7346633/"><img
                            class="photo-item__img" alt="Pink Roses in a Snow Globe"
                            src="https://images.pexels.com/photos/7346633/pexels-photo-7346633.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/7346633/pexels-photo-7346633.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/7346633/pexels-photo-7346633.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/7346633/pexels-photo-7346633.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/7346633/pexels-photo-7346633.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/7346633/pexels-photo-7346633.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/7346633/pexels-photo-7346633.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/7346633/pexels-photo-7346633.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="6720" data-image-width="4480">
                    </a>
                </article>
            </div>
        </div>
        <div class="photos__column">
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 150%;"
                    data-photo-modal-medium-id="7325669" data-meta-title="2 Women in Pink Tank Top · Free Stock Photo"
                    data-aspect-ratio="0.6666666666666666">
                    <a title="2 Women in Pink Tank Top" class="js-photo-link photo-item__link"
                        style="background: rgb(139, 119, 107);" href="/photo/2-women-in-pink-tank-top-7325669/"><img
                            class="photo-item__img" alt="2 Women in Pink Tank Top"
                            src="https://images.pexels.com/photos/7325669/pexels-photo-7325669.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/7325669/pexels-photo-7325669.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/7325669/pexels-photo-7325669.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/7325669/pexels-photo-7325669.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/7325669/pexels-photo-7325669.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/7325669/pexels-photo-7325669.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/7325669/pexels-photo-7325669.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/7325669/pexels-photo-7325669.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="6720" data-image-width="4480">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 133.33%;"
                    data-photo-modal-medium-id="7496546"
                    data-meta-title="Woman in Green Dress Standing on Beach · Free Stock Photo"
                    data-aspect-ratio="0.75">
                    <a title="Woman in Green Dress Standing on Beach" class="js-photo-link photo-item__link"
                        style="background: rgb(138, 143, 135);"
                        href="/photo/woman-in-green-dress-standing-on-beach-7496546/"><img class="photo-item__img"
                            alt="Woman in Green Dress Standing on Beach"
                            src="https://images.pexels.com/photos/7496546/pexels-photo-7496546.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/7496546/pexels-photo-7496546.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/7496546/pexels-photo-7496546.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/7496546/pexels-photo-7496546.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/7496546/pexels-photo-7496546.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/7496546/pexels-photo-7496546.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/7496546/pexels-photo-7496546.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/7496546/pexels-photo-7496546.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="4032" data-image-width="3024">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 125%;"
                    data-photo-modal-medium-id="2125358"
                    data-meta-title="One Unknown Celebrity in White Long-sleeved Shirt · Free Stock Photo"
                    data-aspect-ratio="0.8">
                    <a title="One Unknown Celebrity in White Long-sleeved Shirt" class="js-photo-link photo-item__link"
                        style="background: rgb(139, 170, 175);"
                        href="/photo/one-unknown-celebrity-in-white-long-sleeved-shirt-2125358/"><img
                            class="photo-item__img" alt="One Unknown Celebrity in White Long-sleeved Shirt"
                            src="https://images.pexels.com/photos/2125358/pexels-photo-2125358.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/2125358/pexels-photo-2125358.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/2125358/pexels-photo-2125358.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/2125358/pexels-photo-2125358.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/2125358/pexels-photo-2125358.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/2125358/pexels-photo-2125358.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/2125358/pexels-photo-2125358.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/2125358/pexels-photo-2125358.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="5000" data-image-width="4000">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 150%;"
                    data-photo-modal-medium-id="1686881" data-meta-title="Water Droplets on Glass · Free Stock Photo"
                    data-aspect-ratio="0.6666666666666666">
                    <a title="Water Droplets on Glass" class="js-photo-link photo-item__link"
                        style="background: rgb(67, 94, 96);" href="/photo/water-droplets-on-glass-1686881/"><img
                            class="photo-item__img" alt="Water Droplets on Glass"
                            src="https://images.pexels.com/photos/1686881/pexels-photo-1686881.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/1686881/pexels-photo-1686881.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/1686881/pexels-photo-1686881.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/1686881/pexels-photo-1686881.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/1686881/pexels-photo-1686881.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/1686881/pexels-photo-1686881.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/1686881/pexels-photo-1686881.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/1686881/pexels-photo-1686881.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="5472" data-image-width="3648">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 149.98%;"
                    data-photo-modal-medium-id="4587956"
                    data-meta-title="Brown Tabby Cat in Pink Textile · Free Stock Photo"
                    data-aspect-ratio="0.6667311411992263">
                    <a title="Brown Tabby Cat in Pink Textile" class="js-photo-link photo-item__link"
                        style="background: rgb(200, 161, 176);"
                        href="/photo/brown-tabby-cat-in-pink-textile-4587956/"><img class="photo-item__img"
                            alt="Brown Tabby Cat in Pink Textile"
                            src="https://images.pexels.com/photos/4587956/pexels-photo-4587956.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/4587956/pexels-photo-4587956.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/4587956/pexels-photo-4587956.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/4587956/pexels-photo-4587956.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/4587956/pexels-photo-4587956.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/4587956/pexels-photo-4587956.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/4587956/pexels-photo-4587956.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/4587956/pexels-photo-4587956.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="5170" data-image-width="3447">
                    </a>
                </article>
            </div>
        </div>
        <div class="photos__column">
            <div class="hide-featured-badge hide-favorite-badge" data-track-label="home" data-track-action="videos">
                <article
                    class="js-photo-item--video photo-item photo-item--overlay photo-item--video photo-item--video-autoplay"
                    style="padding-top: 177.84%;" data-photo-modal-medium-id="7337308"
                    data-meta-title="Free stock video of architecture, art, birthday"
                    data-aspect-ratio="0.5622895622895623" data-hover-delay="true">
                    <a class="js-photo-link js-photo-item__link photo-item__link" style="background: rgb(0, 0, 0);"
                        href="/video/wood-dawn-people-woman-7337308/"><img class="photo-item__img"
                            src="https://images.pexels.com/videos/7337308/architecture-art-birthday-birthday-party-7337308.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/videos/7337308/architecture-art-birthday-birthday-party-7337308.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/videos/7337308/architecture-art-birthday-birthday-party-7337308.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px">
                        <video class="photo-item__video" preload="none" loop="" muted="">
                            <source
                                src="https://player.vimeo.com/external/531195010.sd.mp4?s=74320c75574f8ddc3b67048645f6612a5f9abd44&amp;profile_id=165&amp;oauth2_token_id=57447761"
                                type="video/mp4">
                        </video>
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 150%;"
                    data-photo-modal-medium-id="6189308"
                    data-meta-title="Topless Man Leaning on Wall · Free Stock Photo"
                    data-aspect-ratio="0.6666666666666666">
                    <a title="Topless Man Leaning on Wall" class="js-photo-link photo-item__link"
                        style="background: rgb(77, 77, 72);" href="/photo/topless-man-leaning-on-wall-6189308/"><img
                            class="photo-item__img" alt="Topless Man Leaning on Wall"
                            src="https://images.pexels.com/photos/6189308/pexels-photo-6189308.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/6189308/pexels-photo-6189308.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/6189308/pexels-photo-6189308.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/6189308/pexels-photo-6189308.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/6189308/pexels-photo-6189308.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/6189308/pexels-photo-6189308.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/6189308/pexels-photo-6189308.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/6189308/pexels-photo-6189308.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="5616" data-image-width="3744">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 133.33%;"
                    data-photo-modal-medium-id="6198952"
                    data-meta-title="White Flowers With Green Leaves · Free Stock Photo" data-aspect-ratio="0.75">
                    <a title="White Flowers With Green Leaves" class="js-photo-link photo-item__link"
                        style="background: rgb(110, 148, 140);"
                        href="/photo/white-flowers-with-green-leaves-6198952/"><img class="photo-item__img"
                            alt="White Flowers With Green Leaves"
                            src="https://images.pexels.com/photos/6198952/pexels-photo-6198952.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/6198952/pexels-photo-6198952.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/6198952/pexels-photo-6198952.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/6198952/pexels-photo-6198952.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/6198952/pexels-photo-6198952.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/6198952/pexels-photo-6198952.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/6198952/pexels-photo-6198952.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/6198952/pexels-photo-6198952.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="4032" data-image-width="3024">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 149.98%;"
                    data-photo-modal-medium-id="4334091"
                    data-meta-title="Chain link fence against sky · Free Stock Photo"
                    data-aspect-ratio="0.6667293940534438">
                    <a title="Chain link fence against sky" class="js-photo-link photo-item__link"
                        style="background: rgb(139, 185, 193);" href="/photo/chain-link-fence-against-sky-4334091/"><img
                            class="photo-item__img" alt="Chain link fence against sky"
                            src="https://images.pexels.com/photos/4334091/pexels-photo-4334091.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/4334091/pexels-photo-4334091.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/4334091/pexels-photo-4334091.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/4334091/pexels-photo-4334091.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/4334091/pexels-photo-4334091.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/4334091/pexels-photo-4334091.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/4334091/pexels-photo-4334091.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/4334091/pexels-photo-4334091.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="5314" data-image-width="3543">
                    </a>
                </article>
            </div>
            <div class="hide-featured-badge hide-favorite-badge">
                <article class="photo-item photo-item--overlay" style="padding-top: 150%;"
                    data-photo-modal-medium-id="5020302"
                    data-meta-title="Man in White Crew Neck T-shirt Holding Woman in White Sleeveless Shirt · Free Stock Photo"
                    data-aspect-ratio="0.6666666666666666">
                    <a title="Man in White Crew Neck T-shirt Holding Woman in White Sleeveless Shirt"
                        class="js-photo-link photo-item__link" style="background: rgb(111, 45, 71);"
                        href="/photo/man-in-white-crew-neck-t-shirt-holding-woman-in-white-sleeveless-shirt-5020302/"><img
                            class="photo-item__img"
                            alt="Man in White Crew Neck T-shirt Holding Woman in White Sleeveless Shirt"
                            src="https://images.pexels.com/photos/5020302/pexels-photo-5020302.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            srcset="https://images.pexels.com/photos/5020302/pexels-photo-5020302.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 500w, https://images.pexels.com/photos/5020302/pexels-photo-5020302.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 1000w"
                            sizes="(max-width: 540px) 250px, 500px"
                            data-tiny-srcset="https://images.pexels.com/photos/5020302/pexels-photo-5020302.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500 1x, https://images.pexels.com/photos/5020302/pexels-photo-5020302.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500 2x"
                            data-tiny-src="https://images.pexels.com/photos/5020302/pexels-photo-5020302.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                            data-large-src="https://images.pexels.com/photos/5020302/pexels-photo-5020302.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            data-big-src="https://images.pexels.com/photos/5020302/pexels-photo-5020302.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260"
                            data-image-height="5418" data-image-width="3612">
                    </a>
                </article>
            </div>
        </div>
    </div>
</div>