.grid-about-profile {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, max-content);
}
@media screen and (min-width:850px){
    .grid-about-profile{
        display: grid;
        grid-template-columns: repeat(3, max-content);
    }
    .text2{
        margin: 20px;
        margin-left: 20rem;
        margin-right: 20rem;
        text-align: center;
    }

}

.img1{
    margin: 2rem;
}


.about-profile {
    padding: 10px;
}




.text1{
    margin: 20px;
    text-align: center;
}

