<div class="container">
    <div class="row">
        <h2 class="title-border">
            <span>What we do<span class="line"></span></span>
        </h2>
    </div>

    <div class="container">
        <div class="row">

            <div class="text1">
                We stand by our promise to deliver world class video game experiences to our gamers and
                clients but not at the cost of our employees. It is only through their passion and dedication to
                delivering the best that we are able to provide the support and services that make us a world class
                video game developer and publisher. A good work/life balance is at the center of all we do so our staff
                come to work each day envigorated, engaged and commited to do their best.
            </div>

            <div class="img1">
                <img src="../../../assets/img/lineofsight.png">
            </div>

            <h2><div class="text2">
                With guidance from the key leadership team we empower our development leads and their teams to take
                ownership of their projects both big and small to exceed expectations. Drawing from their experience,
                creative thinking, discovery through continuous learning and structured development processes, the team
                is ready to take on the next great challenge.
            </div></h2>
            <br>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <h2 class="title-border">
            <span>Our team<span class="line"></span></span>
        </h2>
        <br><br>
        <div class="grid-about-profile">
            <div class="about-profile">
                <img src="../../../assets/img/deer.png" alt="" width="240">
                <br><br>
                <p>El burro</p>
            </div>
            <div class="about-profile">
                <img src="../../../assets/img/kurea1.jpg" alt="" width="240" height="240">
                <br><br>
                <p>El kure</p>
            </div>
            <div class="about-profile">
                <img src="../../../assets/img/poco1.jfif" alt="" width="240" height="240">
                <br><br>
                <p>El pocopavos</p>
            </div>
        </div>
    </div>
</div>