<div class="container">
  

    <div class="row">
        <h2 class="title-border">
            <span>Our team<span class="line"></span></span>
        </h2>
        <br><br>
        <div class="grid-about-profile">
            <div class="about-profile">
                <img src="../../../assets/img/deer.png" alt="" width="240">
                <br><br>
                <p>El burro</p>
            </div>
            <div class="about-profile">
                <img src="../../../assets/img/kurea1.jpg" alt="" width="240" height="240">
                <br><br>
                <p>El kure</p>
            </div>
            <div class="about-profile">
                <img src="../../../assets/img/poco1.jfif" alt="" width="240" height="240">
                <br><br>
                <p>El pocopavos</p>
            </div>
        </div>
    </div>
</div>