<div id="section6-landing">
    <div class="container container-sp align-self-center text-center">
        <h2>Join our community</h2>
        <div class="row">
            <div class="column5">
                <a href="https://twitter.com/icoffee" target="blank" rel="nofollow noopener noreferrer">
                    <div class="icon-box">
                        <i class="fab fa-twitter"></i>
                        <h4>Twitter</h4>
                        <p>Follow @icoffee<br>for the latest<br>news and updates</p>
                    </div>
                </a>
            </div>
            <div class="column5">
                <a href="https://t.me/icoffee" target="blank" rel="nofollow noopener noreferrer">
                    <div class="icon-box">
                        <i class="fab fa-telegram-plane"></i>
                        <h4>Telegram</h4>
                        <p>Mix and mingle with<br>your fellow icoffee</p>
                    </div>
                </a>
            </div>
            <div class="column5">
                <a href="https://discord.gg/cdJYt496" target="blank" rel="nofollow noopener noreferrer">
                    <div class="icon-box">
                        <i class="fab fa-discord "></i>
                        <h4>Discord</h4>
                        <p>Meet your fellow<br>community members,<br>and chat with them<br>in real time</p>
                    </div>
                </a>
            </div>
            <div class="column5">
                <a href="https://medium.com/icoffee" target="blank" rel="nofollow noopener noreferrer">
                    <div class="icon-box">
                        <i class="fab fa-twitch"></i>
                        <h4>Twitch</h4>
                        <p>Read our latest<br>blog posts</p>
                    </div>
                </a>
            </div>
            <div class="column5">
                <a href="https://github.com/icoffee" target="blank" rel="nofollow noopener noreferrer">
                    <div class="icon-box">
                        <i class="fab fa-github"></i>
                        <h4>Github</h4>
                        <p>Review our code</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
