<header>
  <ul class="nav">
    <li><a [routerLink]="['/home']" [routerLinkActive]="['actived']">Home</a></li>
    <li><a href="https://docs-icoffee.gitbook.io/documentation/" target="_blank">Documentation</a></li>
    <li><a [routerLink]="['/test']" [routerLinkActive]="['actived']">Test</a></li>
  </ul>
</header>

<router-outlet></router-outlet>

<div class="footer">
  <div class="footer-top">
    <a href="#"><span href="https://twitter.com"><i class="fab fa-twitter social-icon"></i></span></a>
    <a href="#"><span><i class="fab fa-facebook-f social-icon"></i></span></a>
    <a href="#"><span><i class="fab fa-linkedin social-icon"></i></span></a>
    <a href="#"><span><i class="fab fa-youtube social-icon"></i></span></a>
    <a href="#"><span><i class="fab fa-instagram social-icon"></i></span></a>
    <a href="#"><span><i class="fab fa-twitch social-icon"></i></span></a>
  </div>
  <div class="footer-content">

  </div>
  <div class="footer-bottom">
    © 2021, ASD Studios, Inc. All rights reserved.
  </div>

</div>